
* {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.05rem;
  text-decoration: none;
  cursor: default;
}

.root {
display: flex;
justify-content: center;

}

h1{
  font-size: 1.2em;
}

.film a {
  color: rgb(48, 94, 194);
}

.film-list li{
  margin-top: 10px;
}

.film-box {
border: 1px solid black;
width: 40%;
background: rgb(231, 231, 231);
margin: 20px;
padding: 20px;

}

.upcoming {
  color: rgb(48, 94, 194);
  border: 1px solid black;
  padding: 10px;
  background:rgb(179, 203, 255);
}

.upcoming:hover {
  background: rgb(154, 177, 228);
  
}

.film a:hover {
  color:rgb(34, 65, 131);
}